@using NET_POC.Models

@{
    ViewBag.Title = "Log in";
}

<div class="container well well-sm">
    <h2>Login</h2>
    <form role="form" name="loginForm" novalidate class="form-horizontal">
        <div class="control-group">
            <label class="control-label control-label col-sm-4" for="username">Username</label>
            <div class="controls col-sm-8">
                <input name="username" class="form-control" type="text" id="username" required />
            </div>
            <label class="control-label col-sm-4" for="password">Password</label>
            <div class="controls col-sm-8">
                <input class="form-control" name="password" type="password" id="password" required />
            </div>
        </div>
        <button class="btn btn-small btn-primary">Login</button>
    </form>
    <p></p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}